* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f9fa;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/*******************/
/*Estilos Generales*/
/*******************/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    border: none;
}

/****************************************************************************/
/*Contenedor del contenido del body para que el footer este siempre al final*/
/****************************************************************************/
#grid-body-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/****************************/
/*Estilos para las secciones*/
/****************************/
.section {
    padding: 0.9375rem 2.8125rem; /*15px/45px*/
}

.one,
.double,
.triple,
.four {
    display: flex;
    gap: 15px;
}

.one {
    flex-direction: column;
    
}

.double,
.triple,
.four {
    justify-content: space-between;
    align-items: start;
}

.double > div {
    flex: 1 1 calc(50%);
    max-width: calc(50%);
}

.triple > div {
    flex: 1 1 calc(33%);
    max-width: calc(33%);
}

.four > div {
    flex: 1 1 calc(25%);
    max-width: calc(25%);
}

/******************************/
/*Contenedor estilo componente*/
/******************************/
.gadget {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 7.5px;
    padding: 15px;
}

.gadget-titulo {
    font-size: 24px;
    margin-bottom: 9px;
}

/**************************************/
/*Tablas del dashboard de inicio index*/
/**************************************/
.dashboard-table {
    border-collapse: collapse;
    width: 100%;
}

.dashboard-table > thead {
    background-color: #f0f0f0;
}

.dashboard-table th,
.dashboard-table td {
    padding: 9px;
    text-align: left;
    border: 1px solid #ddd;
}

/*****/
/*Nav*/
/*****/
.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e293b;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
    padding: 6px 2.8125rem; /*45px*/
}

.logo {
    font-family: 'Island Moments';
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

.nav-principal > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.nav-principal > ul > li:last-child {
    margin-right: 0;
}

.nav-principal > ul > li > a {
    display: block;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.nav-principal > ul > li > a:hover {
    background-color: #334155;
}

/******************/
/*Boton de usuario*/
/******************/
.btn-user {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
}

/***********/
/*Breadcrum*/
/***********/
.breadcrum {
    font-size: 15px;
    margin-left: 2.8125rem; /*45px*/
    margin-top: 15px;
}

/****************************/
/*Encabezados de componentes*/
/****************************/
.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-actions > h2 {
    font-size: 1.875rem; /*30px*/
    font-weight: 600;
}

.btn-add {
    background-color: #007bff;
    color: #fff;
    padding: 9px 15px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}

.btn-add:hover {
    background-color: #0056b3;
}

/*********************/
/*Seccion con filtros*/
/*********************/
.section-filter {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.section-filter > aside {
    flex: 1 1 calc(20%);
    max-width: calc(20%);
}

.section-filter > main {
    flex: 1 1 calc(80%);
    max-width: calc(80%);
}

.section-filter > aside > h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.9375rem; /*15px*/
}

.section-filter > aside li {
    margin-bottom: 0.5625rem; /*9px*/
    position: relative;
}

.section-filter > aside li:last-child {
    margin-bottom: 0;
}

.filter-button {
    border-radius: 6px;
    color: #000;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 0.375rem; /*6px*/
    transition: background-color 0.3s ease;
    will-change: background-color;
}

.section-filter .filter-button.active {
    background-color: #1e293b;
    color: #fff;
}

/*********************/
/*Tablas de los index*/
/*********************/
.tabla-lista {
    width: 100%;
    border-collapse: collapse;
}

.tabla-lista th,
.tabla-lista td {
    border: 1px solid #ddd;
    padding: 9px;
    text-align: center;
    font-size: 16px;
}

.tabla-lista th {
    background-color: #1e293b;
    color: white;
    font-weight: 600;
}

.tabla-lista td {
    color: #000;
    font-weight: 400;
}

.tabla-lista > tbody > tr:hover {
    background-color: #ccc;
}

/*********/
/*Botones*/
/*********/
.btn-editar,
.btn-eliminar {
    font-size: 15px;
    border-radius: 7.5px;
    padding: 6px;
    color: #fff;
}

.btn-editar {
    background-color: orange;
}

.btn-eliminar {
    background-color: red;
}

/*************/
/*Formularios*/
/*************/
.titulo-formulario {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form label,
.form input,
.form textarea,
.form select {
    width: 100%;
    margin-bottom: 18px;
    padding: 6px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    border-radius: 7.5px;
    font-size: 16px;
}

.form input,
.form select {
    height: 39px;
    border: 1px solid #ddd;
}

.form textarea {
    height: 90px;
    resize: none;
    border: 1px solid #ddd;
}

.btn-form {
    background-color: #28a745;
}

.btn-form:hover {
    background-color: #1e7e34;
}

.btn-reset {
    background-color: #f44336;
}

.btn-reset:hover {
    background-color: #e53935;
}

.form button {
    padding: 9px 15px;
    display: block;
    margin: auto;
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

.form-edicion {
    display: flex;
    align-items: start;
}

.form-edicion label {
    flex: 1 1 calc(15%);
}

/******************/
/*Footer principal*/
/******************/
.principal-footer-content {
    background-color: #1e293b;
    text-align: center;
    color: #fff;
    padding: 9px;
    font-size: 15px;
    font-weight: normal;
}