* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f9fa;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#grid-body-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.nav-principal {
    background-color: #000;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
}

.nav-principal > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 18px;
}

.nav-principal > ul > li:last-child {
    margin-right: 0;
}

.nav-principal > ul > li > a {
    display: block;
    color: #fff;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.nav-principal > ul > li > a:hover {
    background-color: #555;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 1.875rem 5.625rem; /*30px/90px*/
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-actions > h2 {
    font-size: 30px;
}


.header-section {
    margin-bottom: 1.875rem; /*30px*/
    text-align: center;
}

.header-section h2 {
    font-size: 1.875rem; /*30px*/
    font-weight: 700;
    letter-spacing: 0.0625rem; /*1px*/
}

.principal-footer-content {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 3px;
}

.principal-footer-content > h1 {
    font-size: 27px;
    font-weight: 500;
}

.breadcrum {
    font-size: 15px;
}



/*Botones*/
.btn-add {
    background-color: #007bff;
    color: #fff;
    padding: 9px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-add:hover {
    background-color: #0056b3;
}

/*Tablas*/
.tabla-lista {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 15px;
}

.tabla-lista,
.tabla-lista th,
.tabla-lista td {
    border: 1px solid #ddd;
}

.tabla-lista th,
.tabla-lista td {
    padding: 10px;
    text-align: center;
}

.tabla-lista th {
    background-color: #007bff;
    color: white;
}

.section-filter {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
}

.section-filter > aside {
    flex: 1 1 calc(25% - 1.25rem);
}

.section-filter > section {
    flex: 1 1 calc(75% - 1.25rem);
}

.btn-editar,
.btn-eliminar {
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 6px;
    color: #fff;
    margin: 0 1px;
}

.btn-editar {
    background-color: orange;
}

.btn-eliminar {
    background-color: red;
}

.aside-filter h2 {
    font-size: 1.875rem; /*30px*/
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.9375rem; /*15px*/
}

.aside-filter li {
    margin-bottom: 0.5625rem; /*9px*/
    position: relative;
}

.aside-filter li:last-child {
    margin-bottom: 0;
}

.filter-button {
    border: none;
    border-radius: 0.5625rem; /*9px*/
    color: #333333;
    background-color: transparent;
    font-size: 1rem; /*16px*/
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 0.375rem; /*6px*/
    transition: background-color 0.3s ease;
    will-change: background-color;
}

.aside-filter .filter-button.active {
    background-color: black;
    color: #F5F5DC;
}

.aside-filter,
.bebidas-tabla {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem; /*12px*/
    padding: 1.25rem; /*20px*/
}

.form-section, .list-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.form-section {
    margin-bottom: 40px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}