* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    color: #000;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/***********/
/***********/
/*Scrollbar*/
/***********/
/***********/
::-webkit-scrollbar {
    width: 0.5625rem;/*9px*/ /*Ancho de la barra de desplazamiento*/
}

::-webkit-scrollbar-track {
    background-color: #000; /*Color de fondo del track*/
}

::-webkit-scrollbar-thumb {
    background-color: #477A91; /*Color del thumb*/
    border-radius: 0.5625rem; /*Bordes redondeados*/
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A9CDD4; /*Cambia de color al pasar el mouse*/
}

::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

/*******************/
/*Estilos Generales*/
/*******************/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
    text-transform: uppercase;
}

/****************************************************************************/
/*Contenedor del contenido del body para que el footer este siempre al final*/
/****************************************************************************/
#grid-body-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/****************************/
/*Estilos para las secciones*/
/****************************/
.section {
    padding: 0.9375rem 2.8125rem; /*15px/45px*/
}

.one,
.double,
.triple,
.four {
    display: flex;
    gap: 15px;
}

.one {
    flex-direction: column;
}

.double,
.triple,
.four {
    justify-content: space-between;
    align-items: start;
}

.double > div {
    flex: 1 1 calc(50%);
    max-width: calc(50%);
}

.triple > div {
    flex: 1 1 calc(33%);
    max-width: calc(33%);
}

.four > div {
    flex: 1 1 calc(25%);
    max-width: calc(25%);
}

/******************************/
/*Contenedor estilo componente*/
/******************************/
.gadget {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    border-radius: 0.5625rem;
    padding: 15px;
    background-color: #fff;
}

.gadget-titulo {
    font-size: 27px;
    margin-bottom: 9px;
}

.resumen {
    text-align: center;
}

.resumen h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 3px;
}

.resumen p {
    font-size: 21px;
    font-weight: 400;
}

/**************************************/
/*Tablas del dashboard de inicio index*/
/**************************************/
.dashboard-table {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

.dashboard-table th,
.dashboard-table td {
    padding: 9px;
    text-align: center;
    border: 1px solid #666;
}

/*****/
/*Nav*/
/*****/
.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #477A91;
    box-shadow: 0px 0px 3px #A9CDD4;
    padding: 6px 2.8125rem; /*45px*/
}

.nav-principal > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo {
    font-family: 'Island Moments';
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    margin-right: 45px;
}

.nav-principal > div > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.nav-principal > div > ul > li:last-child {
    margin-right: 0;
}

.dropdown-content > li > a {
    border-radius: 9px;
    border-radius: 0 0 9px 9px;
}

.nav-principal > div > ul > li > a {
    border-radius: 9px;
}

.nav-principal > div > ul > li > a,
.dropdown-content > li > a {
    color: #fff;
    display: block;
    padding: 9px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.nav-principal > div > ul > li > a:hover,
.nav-principal > div > ul > li > a.active {
    background-color: #A9CDD4;
}

.dropdown-content > li > a:hover {
    background-color: #A9CDD4;
    color: #fff;
}

.dropdown-content {
    display: none;
    background-color: #477A91;
    position: absolute;
    width: 180px;
    top: 50px;
    border-radius: 0 0 9px 9px;
}

.logout {
    width: auto;
    right: 45px;
    margin-top: 14px;
    background-color: #477A91;
}

.arrow-link {
    display: inline-block;
    margin-left: 12px;
}

/******************/
/*Boton de usuario*/
/******************/
.btn-user {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    display: block;
    position: relative;
}

.btn-user:hover {
    color: #333;
}

.btn-user:active {
    transform: scale(1.03);
}

/*************/
/*Breadcrumbs*/
/*************/
.breadcrumbs {
    font-size: 15px;
    font-weight: 700;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.9375rem 0 0 2.8125rem;
    color: #000;
}

/****************************/
/*Encabezados de componentes*/
/****************************/
.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-actions > h2 {
    font-size: 1.875rem; /*30px*/
    font-weight: 600;
}

.btn-add {
    background-color: #007bff;
    color: #fff;
    padding: 0.5625rem 15px;
    border-radius: 0.5625rem;
    font-size: 15px;
    font-weight: 500;
}

.btn-add:hover {
    background-color: #0056b3;
}

.btn-add:active {
    transform: scale(1.03);
}

/*********************/
/*Tablas de los index*/
/*********************/
.tabla-lista,
.dashboard-table {
    border-radius: 9px 9px 0 0;
    overflow: hidden;
}

.tabla-lista {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.tabla-lista thead,
.dashboard-table thead {
    background-color: #477A91;
}

.tabla-lista th,
.dashboard-table th {
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.tabla-lista th,
.tabla-lista td,
.dashboard-table th,
.dashboard-table td {
    border: 1px solid #A9CDD4;
    padding: 9px;
    text-align: center;
    font-size: 18px;
    /*color: #fff;*/
}

.tabla-lista td,
.dashboard-table td {
    color: #333;
    font-weight: 400;
    background-color: #FFFFFF;
}

.tabla-lista tbody tr:hover,
.dashboard-table tbody tr:hover {
    background-color: #000;
    color: #fff;
}

/*********/
/*Botones*/
/*********/
.btn-editar,
.btn-eliminar,
.btn-check,
.btn-actualizar {
    font-size: 15px;
    border-radius: 6px;
    padding: 9px;
    color: #fff;
}

.btn-editar {
    background-color: orange;
}

.btn-editar:hover {
    background-color: #cc8200;
}

.btn-eliminar {
    background-color: red;
}

.btn-eliminar:hover {
    background-color: #CC0000;
}

.btn-eliminar:active {
    transform: scale(1.01);
}

.btn-check {
    /*background-color: #007bff;*/
    background-color: #333;
}

.btn-check:hover {
    /*background-color: #0056b3;*/
    background-color: #000;
}

.btn-check:active {
    transform: scale(1.01);
}

/*************/
/*Formularios*/
/*************/
.titulo-formulario {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
}

.error {
    display: inline-block;
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}

.error:empty {
    display: none;
}

.form label,
.form input,
.form textarea,
.form select {
    width: 100%;
    margin-bottom: 18px;
    padding: 6px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    border-radius: 0.5625rem;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #fff;
    /*color: #666;*/
}

.form input,
.form textarea,
.form select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #666;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    border-color: #A9CDD4;
    box-shadow: 0 0 9px rgba(169, 205, 212, 0.5);
    background-color: #eee;
    color: #333;
}

.form input,
.form select {
    height: 39px;
}

input::placeholder, textarea::placeholder {
    color: #666;
}

.form textarea {
    height: 90px;
    resize: none;
}

.btn-form {
    background-color: #28a745;
}

.btn-form:hover {
    background-color: #1e7e34;
}

.btn-form:active {
    transform: scale(1.01);
}

.btn-reset {
    background-color: #f44336;
}

.btn-reset:hover {
    background-color: #e53935;
}

.btn-reset:active {
    transform: scale(1.01);
}

.form > div > button,
.form > button,
#btn-agregar-bebida-venta {
    padding: 9px 15px;
    display: block;
    margin: auto;
    font-size: 18px;
    border-radius: 0.5625rem;
    color: #fff;
    font-weight: 500;
    width: auto;
}

.form-edicion {
    display: flex;
    align-items: start;
}

.form-edicion label {
    flex: 1 1 calc(15%);
}

/******************/
/*Footer principal*/
/******************/
.principal-footer-content {
    background-color: #477A91;
    text-align: center;
    color: #fff;
    padding: 9px;
    font-size: 15px;
    font-weight: normal;
}

/*Filtros*/
#filtros-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 9px;
    gap: 15px;
    flex-wrap: wrap;
}

#filtros-form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
}

#filtros-form > div > label {
    color: #333;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
}

#filtros-form > div > input,
#filtros-form > div > select {
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 6px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #333;
    padding: 3px;

    width: 100%;
}

#filtros-form > button {
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 12px;
    color: #fff;
    transition: background-color 0.3s ease;
    will-change: background-color;
}

/*.section-filter .filter-button.active {
    background-color: #1e293b;
    color: #fff;
}*/

.total-venta {
    background-color: #477A91;
}

.total-venta th {
    font-size: 21px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
}